@font-face {
  font-family: 'iconfont-project';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/iconfont-project.eot?k03k0z');
  src: url('fonts/iconfont-project.eot?k03k0z#iefix') format('embedded-opentype'), url('fonts/iconfont-project.ttf?k03k0z') format('truetype'),
    url('fonts/iconfont-project.woff?k03k0z') format('woff'), url('fonts/iconfont-project.svg?k03k0z#iconfont-project') format('svg');
}

@font-face {
  font-family: "iconfont";
  src: url('fonts/iconfont.eot?t=1590718971502');
  /* IE9 */
  src: url('fonts/iconfont.eot?t=1590718971502#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('fonts/iconfont.woff?t=1590718971502') format('woff'),
    url('fonts/iconfont.ttf?t=1590718971502') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('fonts/iconfont.svg?t=1590718971502#iconfont') format('svg');
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



[class^='project-icon-'],
[class*=' project-icon-'] {
  display: inline-block;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont-project' !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  /*vertical-align: baseline;*/
  vertical-align: middle;
  speak: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.project-icon-process::before {
  content: '\ebb7';
}

.project-icon-group::before {
  content: '\e753';
}

.project-icon-news_hot_fill::before {
  content: '\e7ff';
}

.project-icon-news_hot_light::before {
  content: '\e800';
}

.project-icon-form_light::before {
  content: '\e804';
}

.project-icon-bumen::before {
  content: '\e67f';
}

.project-icon-renyuan::before {
  content: '\e679';
}

.project-icon-danwei::before {
  content: '\e632';
}

.project-icon-gangwei::before {
  content: '\e6cc';
}

.project-icon-company::before {
  content: '\e659';
}

.project-icon-rencai::before {
  content: '\e60d';
}

.icon-duoyun:before {
  content: "\e631";
}

.icon-diqiu:before {
  content: "\e616";
}
