$--aside-width: 240px; /*header title宽度,即aside容器宽度*/
$--header-height: 50px;
$--cell-height: 36px;
$--p-height: 24px;

$--menu-height: 34px; /* 一级菜单 header 高度 */
$--sub-menu-height: 50px; /* 二三级菜单 header 高度 */
$--width-sidebar: 250px; /* sidebar 宽度 */
$--width-sidebar-mix: 65px; /* sidebar 收起时的宽度 */