@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//定位上下居中
@mixin centerY {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

//定位左右居中
@mixin centerX {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
//背景图大小
@mixin bgSize($w, $h, $url) {
  width: $w;
  height: $h;
  background-image: url($url);
  background-size: 100% 100%;
}

@mixin textOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
