{
    "tabWidth": 2,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "endOfLine": "crlf",
    "printWidth": 150,
    "jsxBracketSameLine": true,
    "proseWrap": "always"
}
